@import "variable";

.container {
  padding: 0px 100px;
  min-height: 100vh;
  color:$charcoal;
}

.section-heading {
  font-size:20px;
  font-weight: bold;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.sub-heading {
  font-size:16px;
  text-align: start;
  font-weight: normal;
  font-style: italic; 
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.section-heading i {
  font-size: 24px;
  color:$coral;
  padding-right:10px;
}


/* ========== Mobile View ========== */
@media (max-width: 768px) {
  .container {
    padding: 0px 10px;
  }

  .section-heading {
    font-size: 18px; 
    flex-direction: column; 
    align-items: flex-start; 
    padding-bottom: 10px;
  }

  .sub-heading {
    font-size: 14px;
  }

  .section-heading i {
    font-size: 20px; 
  }

  .flex-container {
    flex-direction: column;
  }
}

/* ========== Tablet View ========== */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 20px; 
  }

  .title {
    font-size: 22px;
  }

  .section-heading {
    font-size: 18px; 
  }

  .content {
    font-size: 17px; 
  }

  .sub-heading {
    font-size: 14px; 
  }

  .section-heading i {
    font-size: 22px; 
  }

  .flex-container {
    flex-direction: row; 
    gap: 30px; 
  }

  .cards {
    width: 48%; 
  }
}

/* ========== Desktop View ========== */
@media (min-width: 1025px) {
  .container {
    padding: 40px 100px; 
  }

  .flex-container {
    flex-direction: row; 
    gap: 30px;
  }

  .cards {
    width: 48%;
  }
}

