<div class="container">
      <p class="title">SKYTECH</p>
      <div class="best-card best-card-shadow cards">
        <div class="section-heading">
          <span class="job-title"><i class="fas fa-code"></i>Frontend Engineer</span> 
          <span class="sub-heading">October 14, 2024 - Present</span> 
        </div>
        <ul class="details">
          <li class="content">
            Develop and maintain user-facing features using Angular and Typescript for an Indonesian entertainment platform.
          </li>
          <br>
          <li class="content">
            Implement responsive and visually appealing interfaces using CSS, HTML, and modern UI frameworks.
          </li>
          <br>
          <li class="content">
            Collaborate with designers to update and refine UI/UX designs based on user feedback and new product requirements.
          </li>
          <br>
          <li class="content">
            Work closely with backend engineers to integrate RESTful APIs and ensure smooth data flow between clients and server.
          </li>
          <br>
          <li class="content">
            Use GIT for version control, managing feature branches, pull requests, and team code reviews.
          </li>
          <br>
          <li class="content">
            Optimize application performance, improve load times, and maintain cross-browser compatibility.
          </li>
        </ul>
      </div>
</div>
