<div class="container">
  <div class="row">
    <div class="section-title">
      <p class="title">About Me</p>
      <div class="best-card best-card-shadow cards">
        <p class="content">
          Skilled Angular Frontend Engineer with 4 years of experience creating responsive and user-friendly web applications. Passionate about high-quality code, UX improvement, and performance optimization.
        </p>
      </div>
      <hr>
      <div class="flex-container cards">
        <div class="best-card best-card-shadow">
          <p class="section-heading"><i class="fas fa-graduation-cap"></i>EDUCATION</p>
          <p class="content text-center">
            BS Information Technology (2016–2020)
          </p>
          <p class="content text-center">
            Northern Negros State College of Science and Technology
          </p>
        </div>
        <div class="best-card best-card-shadow">
          <p class="section-heading"><i class="fas fa-medal"></i> ACHIEVEMENTS</p>
          <p class="content text-center">
            Philippine National IT Standards Exam Passer
          </p>
          <p class="content text-center">
            Dean’s Lister (2017–2019)
          </p>
          <p class="content text-center">
            Outstanding Leader of the Year
          </p>
        </div>
      </div>
      <hr>
      <div class="best-card best-card-shadow cards">
        <p class="section-heading"><i class="fas fa-chalkboard-teacher"></i>  TRAININGS AND SEMINARS <i class="fas fa-certificate"></i> </p>
        <p class="content">
          <span class="training-title">Software Development Training Program (Online)</span>
          | April - August 2021
        </p>
        <br>
        <p class="content">
          <span class="training-title">Software Development Training Program</span>
          | January - March 2020
        </p>
        <p class="content">
          <span class="training-title">Blockchain</span>
        </p>
        <p class="content">Cyber Center Bacolod</p>
        <br>
        <p class="content">
          <span class="training-title">Business Ideas for IT Professionals</span>
          | November 26, 2019
        </p>
        <p class="content">
          <span class="training-title">Python Programming</span>
        </p>
        <p class="content">NONESCOST Function Hall, Sagay, Negros Occidental</p>
        <br>
        <p class="content">
          <span class="training-title">Trends in Web Design</span>
          | November 19, 2019
        </p>
        <p class="content">
          <span class="training-title">Data Privacy</span>
        </p>
        <p class="content">NONESCOST Function Hall, Sagay, Negros Occidental</p>
        <br>
        <p class="content">
          <span class="training-title">IT Professionals Behavior Towards IT Industry</span>
          | March 4, 2019
        </p>
        <p class="content">
          <span class="training-title">The Age of IT BPM Industry</span>
        </p>
        <p class="content">Balay Kauswagan, Sagay, Negros Occidental</p>
        <br>
        <p class="content">
          <span class="training-title">Social Media Etiquette</span>
          | February 12, 2019
        </p>
        <p class="content">
          <span class="training-title">Understanding Data Privacy Law</span>
        </p>
        <p class="content">NONESCOST Multi-Purpose Cooperative, Sagay, Negros Occidental</p>
        <br>
        <p class="content">
          <span class="training-title">Leader's Talk Seminar</span>
          | February 1, 2019
        </p>
        <p class="content">NONESCOST Function Hall, Sagay, Negros Occidental</p>
        <br>
         <p class="content">
          <span class="training-title">Information Security and Hackaton</span>
          | August 25, 2018
        </p>
        <p class="content">NONESCOST Function Hall, Sagay, Negros Occidental</p>
        <br>
         <p class="content">
          <span class="training-title">Leader's Talk Seminar</span>
          | January 31, 2018
        </p>
        <p class="content">NONESCOST Multi-Purpose Cooperative, Sagay, Negros Occidental</p>
        <br>
      </div>
    </div>
    <!-- /.col -->
  </div>
</div>


