@import "variable";

.container {
  padding: 0px 100px;
  color:$charcoal;
}

.section-title {
  margin-bottom: 20px;
}

.title {
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}

.cards{
  margin: 40px 0px;
}

.content {
  font-size: 16px;
  text-align: center;
  color:$charcoal;
}

.section-heading {
  font-size:20px;
  font-weight: bold;
  text-align: center;
}

.training-title {
  font-size:20px;
  font-weight: bold;
  text-align: start;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.mid-cards{
  width:430px;
}

.section-heading i {
  font-size: 24px;
  color:$softPinkDarker; 
  padding: 0px 10px;
}


/* ========== Mobile View (Including iPad Mini) ========== */
@media (max-width: 768px) {
  .container {
    padding: 0px 15px; 
  }

  .section-title {
    text-align: center;
  }

  .title {
    font-size: 20px;  
  }

  .cards {
    margin: 20px 0px;
  }

  .content {
    font-size: 14px;
  }

  .section-heading {
    font-size: 18px;
  }

  .training-title {
    font-size: 18px; 
  }

   .flex-container {
    flex-direction: column; 
     gap: 10px;
  }

  .mid-cards{
    width:auto;
  }
 
  .section-heading i {
    font-size: 15px;  
    padding: 0px;
  }
}

/* ========== Tablet View ========== */
@media (min-width: 769px) and (max-width: 1024px) {
  // .flex-container {
  //   flex-direction: column;
  // }

  // .mid-cards{
  //   width:auto;
  // }
}