@import "variable";

.container {
  padding: 0px 100px;
  color:$charcoal;
}

.section-title {
  margin-bottom: 20px;
}

.cards{
  margin: 40px 0px;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.mid-cards{
  width:430px;
}

/* ========== Mobile View (Including iPad Mini) ========== */
@media (max-width: 768px) {
  .container {
    padding: 0px 15px; 
  }

  .mid-cards{
    width:auto;
  }

  .section-title {
    text-align: center;
  }

  .cards {
    margin: 20px 0px; 
  }

  .flex-container {
    flex-direction: column; 
  }
}

/* ========== Tablet View ========== */
@media (min-width: 769px) and (max-width: 1024px) {
  .flex-container {
    flex-direction: column;
  }

  .mid-cards{
    width:auto;
  }
}