@import "colors.scss";


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative; 
  background-color: $warmGray;
  padding: 5px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  border: 1px solid $coral;
}

.container {
  color:$charcoal;
}

.title {
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
  margin: 0px;
  color:$charcoal;
  line-height: 2;
}

@media (max-width: 768px) {
  .title{
    font-size: 14px;
  }
}
