
  <div class="modal-overlay">
  <div class="modal-content">
    <div class="modal-close-btn" (click)="close()">X</div> 
        <div class="container">
            <div class="title">
            Are you sure you want to logout?
            </div>
            <div class="modal-button">
            <button class="modal-btn" type="button" (click)="logout()">Yes</button>
            <button class="modal-btn" type="button"  (click)="close()">No</button>
            </div>
        </div>
  </div>
</div>
