@import "variable";

/* Base styles */
.container {
  padding: 0px 100px;
  min-height: 100vh;
  color: $charcoal;
}

.title {
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}

.skills-wrapper {
  border-radius: 20px;
  overflow: hidden; 
  border: 1px solid $softPink;
}

.skill-card {
  background-color: #F8FAFC;
  padding:18px;
  .content {
    color: $charcoal;
    font-family: Monserat;
    font-size: 16px;
    margin: 0;
  }
}

.style {
  list-style: none;
}

.cards {
  margin: 40px 0px;
}

ul {
  margin: 0;
  padding: 0;
}

.display {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.section-heading {
  font-size: 20px;
  font-weight: bold;
  text-align: start;
  align-items: center; 
}

.content {
  font-size: 16px;
  text-align: start;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 5px;
  background-color: $offSoftPink;
  padding: 5px 20px;
  border-radius: 4px;
}

.toggle-btn {
  background: transparent;
  border: none;
  cursor: pointer;

  width: 44px;   
  height: 44px;

  display: flex;
  align-items: center;  
  justify-content: center; 

  padding: 0;
}

.arrow {
  display: block;
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
  stroke: $coral;
}

.arrow.rotated {
  transform: rotate(0deg);
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
}

.section-heading i {
  font-size: 24px; 
  color: $softPinkDarker;
  padding-right: 10px;
}

/* ========== Mobile View ========== */
@media (max-width: 768px) {
  .container {
    padding: 0px 20px;
  }

  .title {
    font-size: 20px;  
  }

  .skill-card {
    .content {
      font-size: 14px;
    }
  }
  
  .cards {
    margin: 20px 0px;
  }

  .section-heading {
    font-size: 18px; 
    flex-direction: column;
  }

  .section-heading i {
    font-size: 18px; 
  }

  .flex-container {
    flex-direction: column; 
  }
}

/* ========== Tablet View ========== */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 0px 50px;
  }
}