@import "variable";

/* Base styles */
.container {
  padding: 0px 100px;
  min-height: 100vh;
  color: $charcoal;
}

.title {
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}

.style {
  list-style: none;
}

.cards {
  margin: 40px 0px;
}

.skill-card {
  border-radius: 0px;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-heading {
  font-size: 20px;
  font-weight: bold;
  text-align: start;
}

.content {
  font-size: 18px;
  text-align: start;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 5px;
  background-color: $offSoftPink;
  padding: 5px 20px;
  border-radius: 4px;
}

.toggle-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
}

.arrow {
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
  stroke: $coral;
}

.arrow.rotated {
  transform: rotate(0deg);
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
}

.section-heading i {
  font-size: 24px; 
  color: $softPinkDarker;
  padding-right: 10px;
}

/* ========== Mobile View ========== */
@media (max-width: 768px) {
  .container {
    padding: 0px 10px;
  }

  .title {
    font-size: 20px;  
  }

  .content {
    font-size: 16px;  
  }

  .section-heading {
    font-size: 18px; 
    flex-direction: column;
    align-items: flex-start;  
    padding-bottom: 10px;
  }

  .sub-heading {
    font-size: 14px;
  }

  .section-heading i {
    font-size: 20px; 
  }

  .flex-container {
    flex-direction: column; 
  }
}

/* ========== Tablet View ========== */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 20px;
  }

  .title {
    font-size: 22px; 
  }

  .section-heading {
    font-size: 18px; 
  }

  .content {
    font-size: 17px;  
  }

  .sub-heading {
    font-size: 14px; 
  }

  .section-heading i {
    font-size: 22px; 
  }

  .flex-container {
    flex-direction: row; 
    gap: 30px; 
  }

  .cards {
    width: 48%; 
  }
}

/* ========== Desktop View ========== */
@media (min-width: 1025px) {
  .container {
    padding: 40px 100px; 
  }

  .title {
    font-size: 24px; 
  }

  .section-heading {
    font-size: 20px; 
  }

  .content {
    font-size: 18px;
  }

  .sub-heading {
    font-size: 16px; 
  }

  .section-heading i {
    font-size: 24px; 
  }

  .flex-container {
    flex-direction: row; 
    gap: 30px; 
  }

  .cards {
    width: 48%; 
  }
}