@import "colors.scss";

.container {
  color:$charcoal;
}

.sign-up{
  color:$coral;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s ease-in-out;
}

.sign-up:hover {
  color:$lightCoral;
  transform: scale(1.05);
}

.details{
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  max-width: 150px;
  width: 100%;
  gap: 10px;
}

.input{
    border-radius: 5px;
    border:1px solid $coral;
    padding: 5px;
}


.details{
  font-size: 16px;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
  }
  .details{
    font-size: 14px;
  }
}