@import "variable";

header {
  background-color: $softPink;
  display: flex;
  padding: 0px 100px;
  align-items: center;
  gap:30px;
  position: sticky;
  top: 0; 
  z-index: 1000;
  height: 64px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
  text-align: center;
  position: relative;
}

.logo-name{
  text-decoration: none;
  color:$charcoal;
  font-weight: bold;
  font-size: 40px;
  margin: -7px;
}

.sub-name{
  color:$charcoal;
  font-size: 8px;
  margin: 0px;
  text-align: end;
  font-weight: bold;
  letter-spacing: 4px;
  margin-right: -18px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.desktop-nav.end {
  margin-left: auto; 
}

.desktop-nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-bottom: -10px;
}

.desktop-nav a {
  text-decoration: none;
  color:$charcoal;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 18px;
}

.desktop-nav a:hover {
  color: $coral; 
  transform: scale(1.05);
}

.arrow-down:active {
  transform: scale(0.8); 
  transition: transform 0.1s ease-out;
}

.desktop-nav .dropdown {
  position: relative;
}

.desktop-nav .dropdown-menu {
  display: none;
  position: absolute;
  background-color: $warmGray;
  top: 100%;
  width: 80%;
  left: 0;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.desktop-nav .dropdown-menu.show {
  display: block;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333333;  
  vertical-align: middle;
  line-height: 0;
}

.dropdown.open .arrow-down {
  border-top: none;
  border-bottom: 5px solid #333333;  
}

.active-link {
  color: #2563EB; 
  font-weight: bold;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color:$green;
}

@media (max-width: 768px) {
  header {
    padding: 5px 20px;
  }

  .desktop-nav {
    display: none; 
  }

  .hamburger-menu {
    display: block; 
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $softPink;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    padding-top: 30px;
    padding-bottom: 10px;
    overflow-y: auto;
    z-index: 1000;
    border-radius: 10px;
    margin: 0px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .mobile-nav .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 15px;
    cursor: pointer;
    color: $charcoal;
    font-weight: bold;
  }

  .mobile-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .mobile-nav a {
    color: $charcoal;
    text-decoration: none;
  }

  .mobile-nav .dropdown-menu {
    display: none;
  }

  .mobile-nav .dropdown-menu.show {
    display: block;
  }

  .mobile-nav.show {
    transform: translateY(0);
  }
}

/* Tablet View (Portrait & Landscape) */
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    padding: 10px 50px;  
  }

  .desktop-nav ul {
    gap: 40px; 
  }

  .desktop-nav a {
    font-size: 14px;
  }

  .hamburger-menu {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }

  .mobile-nav {
    display: none; 
  }
}

/* Desktop View */
@media (min-width: 1025px) {
  .mobile-nav {
    display: none;  
  }

  .desktop-nav {
    display: flex;  
  }

  .hamburger-menu {
    display: none; 
  }
}