<div class="container">
      <p class="title">BACKEND SOLUTIONS AND TECHNOLOGIES INC.</p>
      <div class="best-card best-card-shadow cards">
        <div class="section-heading">
          <span class="job-title"><i class="fas fa-code"></i>Frontend Developer</span> 
          <span class="sub-heading">September 1, 2021 - October 13, 2024</span> 
        </div>
        <ul class="details">
          <li class="content">
            Building Angular UIs with HTML, SCSS, and Bootstrap.
          </li>
          <br>
          <li class="content">
            Writing efficient Typscript and integrating APIs.
          </li>
          <br>
          <li class="content">
            Managing state and ensuring code quality with testing.
          </li>
          <br>
          <li class="content">
            Deploying via Firebase or FilZilla.
          </li>
          <br>
          <li class="content">
            Optimizing performance and collaborating for project success.
          </li>
          <br>
          <li class="content">
            Maintaining clean code and staying updated on trends.
          </li>
        </ul>
      </div>
</div>