@import "variable";

.container {
  padding: 0px 100px;
  min-height: 100vh;
  color:$charcoal;
}

.title {
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}

.cards{
  margin: 40px 0px;
  padding: 20px 40px;
}

.content {
  font-size: 16px;
  text-align: start;
  color:$charcoal;
}

.section-heading {
  font-size:20px;
  font-weight: bold;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.sub-heading {
  font-size:16px;
  text-align: start;
  font-weight: normal;
  font-style: italic; 
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.section-heading i {
  font-size: 20px;
  color:$softPinkDarker;
  padding-right:10px;
}


/* ========== Mobile View ========== */
@media (max-width: 768px) {
  .container {
    padding: 0px 20px;
  }

  .title {
    font-size: 20px;  
  }

  .cards {
    margin: 20px 0px;
    padding: 10px 20px;
  }

  .content {
    font-size: 14px; 
  }

  .section-heading {
    font-size: 18px;  
    flex-direction: column;
    align-items: flex-start;  
    
  }

  .sub-heading {
    font-size: 14px;
  }

  .section-heading i {
    font-size: 18px;  
  }

  .flex-container {
    flex-direction: column; 
  }
}

/* ========== Tablet View ========== */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
     padding: 0px 50px;
  }
}
