<div class="container">
      <p class="title">BACKEND SOLUTIONS AND TECHNOLOGIES INC.</p>
      <div class="best-card best-card-shadow cards">
        <div class="section-heading">
          <span class="job-title"><i class="fas fa-code"></i>Frontend Developer</span> 
          <span class="sub-heading">September 1, 2021 - October 13, 2024</span> 
        </div>
        <ul class="details">
          <li class="content">
            Assisted in developing responsive web interfaces using Angular, HTML, SCSS, and Bootstrap.
          </li>
          <br>
          <li class="content">
            Built simple UI components and features for web and mobile applications using Flutter.
          </li>
          <br>
          <li class="content">
            Wrote basic TypeScript and Dart code and integrated REST APIs under supervision.
          </li>
          <br>
          <li class="content">
            Helped maintain application state, fix bugs, and improve code readability.
          </li>
          <br>
          <li class="content">
            Supported deployment of web applications using Firebase and FileZilla.
          </li>
          <br>
          <li class="content">
            Collaborated with team members to implement design requirements and deliver assigned tasks on time.
          </li>
        </ul>
      </div>
</div>