@import "variable";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.modal-content {
  position: relative;
  background-color: $warmGray;
  padding: 5px;
  border-radius: 10px;
  // max-width: 400px;
  width: auto;
  border: 1px solid $coral;
}

@media(max-width:768px){
  .modal-close-btn {
    font-size: 10px;
  }
}



