@import "variable";

// backgrounds
.purple-bg {
  background-color: $purple;
}
.orange-bg {
  background-color: $orange;
}
.turquoise-bg{
  background-color:$turquoise;
}

// text

.purple-text {
  color: $purple;
}

.black-text {
  color: $black;
}

.white-text {
  color: $white;
}
.turquoise-text{
  color:$turquoise;
}
