/// colors declaration
$turquoise:#20c5b5;
$purple:white;
$white: rgb(20, 20, 20);
$purpleDark: #3b328c;
$purpleFaded: #e0d8ff;
// $purpleFaded2: #e9fcfa;
$purpleFaded2: rgb(238, 244, 254);
$orange: #e1742e;
$green: #05841b;
$lightGreen: #56D670;
$red: #ff3535;
$blue: #2373c5;
$contentTopColor: #eeeeee;
$input3BorderColor: #848485;
$input3BgColor: #d2c5ff;
$darkGray: #848485;
$fadedGray2: #bcbcbf;
$black: #000000;
$fadedGray: #f8f8f8;



// padding sizes
$pdXl: 30px 45px;
$pdL: 25px 40px;
$pdMed: 20px 35px;
$pdSm: 15px 30px;
$pdXs: 10px 25px;

/// width sizes
$widthXl: 400px;
$widthL: 350px;
$widthMed: 300px;
$widthSm: 150px;
$widthXs: 100px;

// raduis
$borderRadius: 30px;
$cardRadius: 20px;
$btnRadius: 8px;

// border style
$borderBlack: solid black 1px !important;
$borderPurple: solid $purple 1px !important;
$borderFadedGray2: solid 1.5px $fadedGray2;

$hSpacerXl: 32px;
$hSpacerLg: 24px;
$hSpacerMed: 16px;
$hSpacerSm: 8px;
$hSpacerXs: 4px;

// raduis
$raduisXl: 64px;
$raduisLg: 32px;
$raduisMed: 16px;
$raduisSm: 8px;
$raduisXs: 4px;



//Colors
$border: #E5E7EB;
$textPrimary:#0F172A;
$textMuted: #64748B;

//Primary Pallete
$softPink: #f1bebf ;
$softPinkDarker: #eb999a ;
$blushPeach: #F5D0C5 ;
$lavender:#D6AEDD;
$powderBlue:#B2D8D8;

//accent Pallete
$coralRed:#FF6F61;
$gold:#FFD700;
$turquoise:#1ABC9C;

//neutrals
$warmGray:#F5F5F5;
$charcoal:#333333;
$off-white:#FFFFFF;

//coral cream pallter
$coral:#FB7185;
$lightCoral:#FECACA;
$green:#10B981;
$cream:#FFFBEB;
$deepRed:#991B1B;
$surface:  #F8FAFC;
$offSoftPink:#fcf4f4;;





// font sizes
$fontXl: 26px;
$fontLg: 22px;
$fontMed: 18px;
$fontSm: 13px;
$fontXs: 10px;
// font style
$fontTheme: Monserat;
$fontThemeBold: Monserat-bold;


//Primary Pallete
$accent1:red;
$accent2: blue ;