@import "colors.scss";

.container {
  color:$charcoal;
  padding: 0px 20px;
}

.sign-up{
  color:$coral;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s ease-in-out;
}

.sign-up:hover {
  color:$lightCoral;
  transform: scale(1.05);
}

.creds{
  margin-bottom: 10px;
  display:grid; 
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.label{
  margin-bottom: 5px;
}

.input{
  width:250px;
  border-radius: 5px;
  border:1px solid $coral;
  padding: 5px;
}
.input:focus {
  border:1px solid $coral;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
  }
  .creds{
    font-size: 14px;
  }
  .label{
    margin-bottom: 2px;
  }
}