<form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
  <div class="container">
    <div class="">
      <p class="title">Login</p>
    </div>
    <div class="know-more">
      Know more about me?
      <span type="button" class="sign-up" (click)="switchToSignUp()">Sign Up</span>  <!-- Button to switch to SignUp -->
    </div>
    <div class="creds">
      <label for="mobileNumber" class="label">Phone Number</label>
      <input  class="input" formControlName="mobileNumber" id="mobileNumber" />
    </div>
    <div class="creds">
      <label for="password" class="label">Password</label>
      <input class="input" type="password" formControlName="password" id="password" />
    </div>
    <div class="button">
      <button class="btn" type="submit">Login</button>
    </div>
  </div>
</form>
