@import "colors.scss";

.container {
    // padding:5px;
//   min-height: 100vh;
  color:$charcoal;
  
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-top: 30px;
  margin: 0px;
  color:$coral;
  line-height: 2;
}

.know-more {
    text-align: center;
    padding-bottom: 30px;
}

.sign-up{
  color:$coral;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s ease-in-out;
  font-size: 16px;
}

.sign-up:hover {
  color:$lightCoral;
  transform: scale(1.05);
}

.creds{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.label{
    padding: 5px;
}

.input{
    border-radius: 5px;
    border:1px solid $coral;
    padding: 5px;
    max-width: 220px;
    width: 100%;
}
.button{
    text-align: center;
    padding: 20px;
    
}

.btn {
  padding: 8px 30px;
  border: none;
  border-radius: 4px;
  background: $coral;
  color: $textPrimary;
  cursor: pointer;
  transition: 0.5s;

}

.btn:hover {
  background:$softPink;
  transform: scale(1.05); 
}