@import "variable";

.footer{
    background-color:$lightCoral;
    color:$charcoal;
    padding: 50px 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.details{
    display: flex;
    justify-content: space-between;
}

.view .resume {
  cursor: pointer;
  transition: color 0.3s, transform 0.3s ease-in-out;
  font-size: 16px;
}

.view .resume:hover {
  color: $coral;
  transform: scale(1.05);
}

.view .resume:active {
  transform: scale(0.98);
}

.socials{
  text-align: center;
  // display: flex;
  // align-items: center;
  font-size: 16px;
}
.social-logo{
  gap:60px;
}

.footer-icon {
  font-size: 24px; 
  color: #333; 
  // margin: 0 60px;
  transition: color 0.3s;
}

.footer-icon:hover {
  color:$coral;
  transform: scale(1.05);
}


.address a {
  all: unset;  
  cursor: pointer;
  transition: color 0.3s, transform 0.3s ease-in-out;
  font-size: 16px;
}

.address a:hover {
 color: $coral;
  transform: scale(1.05);
}

.address a:focus {
  outline: none;
  transform: scale(0.98);
}


/* ========= Tablet ========= */
@media (max-width: 991px) {
  .footer {
    padding: 40px 50px; 
  }
}

/* ========= Mobile ========= */
@media (max-width: 550px) {
  .footer {
    padding: 20px; 
  }

  .details {
    flex-direction: column;  
    align-items: center;   
    gap: 0px;  
  }

  .socials {
    line-height: 0;
    font-size: 14px;   
  }

  .footer-icon {
    font-size: 18px; 
    margin:0px 2px;
  }

  .view .resume {
    font-size: 14px;      
    margin:0 !important ;
  }

  .address .a {
    font-size: 14px;   
    margin:0 !important;
  }
}