@import "variable";

.footer{
    background-color:$lightCoral;
    color:$charcoal;
    padding: 50px 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.details{
    display: flex;
    justify-content: space-between;
}

.view .resume {
  cursor: pointer;
  transition: color 0.3s, transform 0.3s ease-in-out;
  font-size: 16px;
}

.view .resume:hover {
  color: $coral;
  transform: scale(1.05);
}

.view .resume:active {
  transform: scale(0.98);
}

.socials{
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.footer-icon {
  font-size: 24px; /* Adjust size of icons */
  color: #333; /* Set color */
  margin: 0 10px; /* Space between icons */
  transition: color 0.3s;
}

.footer-icon:hover {
  color:$coral; /* Hover effect color */
  transform: scale(1.05);
}

.address .email {
  cursor: pointer;
  transition: color 0.3s, transform 0.3s ease-in-out;
  font-size: 16px;
}

.address .email:hover {
  color: $coral;
  transform: scale(1.05);
}

.address .email:active {
  transform: scale(0.98);
} 

/* ========= Tablet ========= */
@media (max-width: 991px) {
  .footer {
    padding: 40px 50px;  // Adjust padding for tablet
  }
}

/* ========= Mobile ========= */
@media (max-width: 550px) {
  .footer {
    padding: 20px; 
  }

  .details {
    flex-direction: column;  // Stack elements vertically
    align-items: center;     // Center align items
    gap: 0px;  
  }

  .socials {
    line-height: 0;
    font-size: 14px;   
  }

  .footer-icon {
    font-size: 18px; 
    margin:0px 2px;
  }

  .view .resume {
    font-size: 14px;      
    margin:0 !important ;
  }

  .address .email {
    font-size: 14px;   
    margin:0 !important;
  }
}
