<div class="footer">
  <div class="details">
    <div class="view"> 
      <p
        class="resume"
        href="#"
        role="button"
        data-bs-toggle="modal"
        data-bs-target="#resume"
        >View Resume
      </p>
    </div>
    <div class="socials">
      <p>Follow me on:</p>
      <a href="https://www.facebook.com/">
        <i class="fa fa-facebook-square footer-icon" aria-hidden="true"></i>
      </a>
      <a href="https://www.instagram.com/">
        <i class="fa fa-instagram footer-icon" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/">
        <i class="fa fa-linkedin-square footer-icon" aria-hidden="true"></i>
      </a>
    </div>
    <div class="address">
      <p class="email">
        <a href="mailto:dio8921.s@gmail.com">
          dio8921.s&#64;gmail.com
        </a>
      </p>
    </div>
  </div>
</div>