@import "variable";

.hero-section {
  min-height: 100vh;
  background: $warmGray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-end;  
}

.name {
  color:$charcoal;
  font-size: 48px;
  font-weight: 800;
  line-height: 0;
}

.profession {
  font-size: 24px;
  font-weight: 400;
  color:$charcoal;
  line-height: 0;
}

.sub {
  font-size: 16px;
  font-weight: 600;
  color:$charcoal;
  line-height: 0;
  font-style: italic; 
}

.desc {
  font-size: 16px;
  color:$charcoal;
  line-height: 0;
  font-style: italic; 
}

.btn-hire {
  padding: 12px 26px;
  border: none;
  border-radius: 4px;
  background: $softPink;
  color: $charcoal;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
  align-self: flex-end;
  font-weight: bold;
}

.btn-hire:hover {
  background:$lightCoral;
  transform: scale(1.05); 
}

.hero-image {
  display: flex;
  justify-content: center;
}

.hero-image img {
  background-color: $softPink;
  // background-color:rgb(228, 142, 171);
  width: 420px;
  height: 420px;
  object-fit:cover;
  // object-fit:contain;
  border-radius: 50%;
  border: 6px solid $lightCoral;
  box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.25);
  animation: glowBorder 3s infinite ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.hero-image img:hover {
  transform: scale(1.1); 
}

/* ========= Tablet ========= */
@media (max-width: 1024px) {
  .hero-section {
    padding: 0;
  }

  .hero-container {
    flex-direction: column;
    text-align: center;
    gap: 45px;
  }

  .hero-text {
    width: 100%;
    align-items: center;
  }

  .btn-hire {
    align-self: center;
  }
}

/* ========= Mobile ========= */
@media (max-width: 550px) {
  .hero-section {
    padding: 0;
  }

  .hero-container {
    padding: 0px;
    gap: 45px;
  }

  .hero-text {
    width:100%;
    align-items: center;
  }
 
  .name {
    font-size: 25px;      
    font-weight: 600;          
    line-height: 1.3;  
    margin: 0 !important;
  }

  .profession {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 !important;
  }

  .desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    padding: 0px 30px;
  }

  .hero-image img {
    margin-top: -50px;
    // width: 300px;
    // height: 300px;
    width: 280px;
    height: 280px;
  }
  .btn-hire {
    font-size: 14px;
    align-self: center;
  }
}

@keyframes glowBorder {
  0% {
    border-color: $softPink;
    box-shadow: 0 0 10px $softPink, 0 0 20px $softPink;
  }
  33% {
    border-color: $blushPeach; 
    box-shadow: 0 0 10px $blushPeach, 0 0 20px $blushPeach;
  }
  66% {
    border-color: $lightCoral; 
    box-shadow: 0 0 10px $lightCoral, 0 0 20px  $lightCoral;
  }
  100% {
    border-color: $softPink; 
    box-shadow: 0 0 10px $softPink, 0 0 20px $softPink;
  }
}
//bubbles
.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:0;
  overflow:hidden;
  top:0;
  left:0;
  pointer-events: none; 
}
.bubble{
  position: absolute;
  width:20px;
  height: 20px;
  background:$softPink;
  border-radius:50%;
  opacity:5%;
  animation: rise 20s infinite ease-in;
}
 
.bubble:nth-child(1){
  width:25px;
  height:25px;
  background-color:$green;
  width:15px;
  height:15px;
  animation-duration:22s;
  animation-delay:0s;
}

@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}