<section id="home" class="hero-section">
  <div class="hero-container">
    <div class="hero-image">
      <img src="sit.jpg" />
      <!-- <img src="curlyPink.png" /> -->
    </div>
    <div class="hero-text">
      <h3 class="name">Hi! I'm Sharmaine Diotay</h3>
      <h1 class="profession"> A Frontend Developer</h1>
      <!-- <p class="sub">Passionate about creating seamless and engaging user experiences.</p> -->
      <p class="desc">I specialize in building responsive websites using modern technologies like Angular and CSS3.</p>
      <!-- <button class="btn-hire" (click)="navigateToAbout()"> -->
      <button class="btn-hire" >
        About Me
      </button>
    </div>
    
    <div class="bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
  </div>
  </div>
</section>
