<div class="container">
      <p class="title">AUTO RESOURCES TRADING CORPORATION</p>
      <div class="best-card best-card-shadow cards">
        <p class="section-heading">
        <span class="job-title"><i class="fas fa-user-tie"></i>Executive Secretary</span> 
          <span class="sub-heading">February 15, 2021 - August 18, 2021</span> 
        </p>
        <ul class="">
          <li class="content">
            Managed executive schedules, travel arrangements, and meetings.
          </li>
          <br>
          <li class="content">
            Facilitated communication between executives and various departments.
          </li>
          <br>
          <li class="content">
            Prepared confidential reports and presentations.
          </li>
          <br>
          <li class="content">
            Oversaw office operations, budgeting, and vendor relations.
          </li>
          <br>
          <li class="content">
            Planned and executed corporate events and conferences.
          </li>
          <br>
          <li class="content">
            Provided administrative support, including call screening, email management, and task prioritization.
          </li>
        </ul>
      </div>
</div>
